[Desktop Entry]
Version=1.0
Type=Application

Name=Email Client
Comment=A Rust GTK4 email client
Categories=Network;Email;

Icon=dev.nordgedanken.Email
Exec=mail-client
Terminal=false